form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitButton {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    border: 0;
    color: var(--primary-color);
    background: var(--secondary-bg);
    line-height: 1.15;
    font-size: 1.2rem;
    margin: 1rem 0;
    transition: all 0.3s ease;
}

#submitButton:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0.2rem var(--secondary-bg);
}



/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: var(--primary-color);
}

input[type="range"]::-moz-range-track {
    background-color: var(--secondary-bg);
}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: var(--primary-color);
}

input[type="range"]::-ms-fill-upper {
    background-color: var(--secondary-bg);
}

.checkboxContainer,
.radioContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0;
    gap: 0.5em;
}

.formElementContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0;
    gap: 0.5em;
}

.form-control,
.radio-form-control {
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        width: 20vw;
        -webkit-appearance: none;
        background-color: var(--secondary-bg);
        border-radius: 1rem;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 1rem;
        -webkit-appearance: none;
        color: var(--primary-color);
        border-radius: 1rem;
    }

    input[type='range']::-webkit-slider-thumb {
        width: 1rem;
        -webkit-appearance: none;
        height: 1rem;
        cursor: -webkit-pointer;
        cursor: pointer;
        background: var(--primary-color);
        box-shadow: -10.5vw 0 0 10vw var(--secondary-color);
        border-radius: 50%;
    }
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--primary-bg);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
    box-shadow: 0 0 0 0.05rem var(--primary-color);
    cursor: -webkit-pointer;
    cursor: pointer;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"] {
    appearance: none;
    background-color: var(--primary-bg);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary-color);
    background-color: CanvasText;
}

select {
    background-color: var(--secondary-bg);
    border: 0.13rem solid var(--primary-color);
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    margin: 0.3rem 0;
}

select:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0 0.05rem var(--primary-color);
}

#value{
    width: 3rem;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    body {
        font-size: 1.3rem;
    }

    .checkboxContainer,
    .radioContainer,
    .formElementContainer {
        flex-direction: column;
    }

    #value{
        width: 3.2rem;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        input[type='range'] {
            width: 60vw;
        }
    
        input[type='range']::-webkit-slider-thumb {
            box-shadow: -30vw 0 0 28vw var(--secondary-color);
        }
    }
}