table {
    width: 40rem;
    height: 40rem;
    margin-left: auto;
    margin-right: auto;
    border: 0.1rem solid var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}
td {
    font-size: 3rem;
    border: 0.1rem solid var(--primary-color);
    padding: 1rem;
    background-color: var(--primary-bg);
    border-radius: 0.5rem;
}
td:hover {
    background-color: var(--secondary-bg);
}

.parent {
    display: flex;
    margin: 0 5vw;
    justify-content: space-between;
}

.parent2 {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}

.div1 {
    margin-right: 7rem;
}

#racun{
    font-size: 3.5rem;
}

#timer{
    font-size: 1.5rem;
    padding: 1rem 0;
    border: 0.2rem solid var(--primary-color);
    border-radius: 0.5rem;
}

@media only screen and (max-width: 1300px) {
    .parent2 {
        margin-left: 0rem;
    }
    
    .div1 {
        margin-right: 0rem;
    }
}

@media only screen and (max-width: 1050px) {
    .parent {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    table {
        width: 90%;
    }
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    body {
        font-size: 1.3rem;
    }
    
    table {
        height: auto;
    }
    td {
        font-size: 2rem;
    }

    #timer{
        font-size: 1.3rem;
        padding: 0.5rem 0;
        border: 0.15rem solid var(--primary-color);
        border-radius: 0.5rem;
    }
}

@media only screen and (max-height: 800px) {
    td {
        font-size: 2rem;
    }
    table {
        height: auto;
    }
}

@media only screen and (max-height: 630px) {
    td {
        font-size: 1.4rem;
    }
    table {
        height: auto;
    }
}